.popup {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s ease-in-out;
}


/*
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s ease-in-out;
*/
