.popup__button-save {
  margin: 0 auto 37px;
  padding: 0;
  width: 83.255814%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  border: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 500px) {
  .popup__button-save {
    margin: 0 7.80141844% 25px;
  }
}

@media screen and (max-width: 424px) {
  .popup__button-save {
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}

/* стили горизонтальной ориентации */
@media screen and (max-width: 823px) and (max-height: 414px) {
  .popup__button-save {
    margin-bottom: 20px;
  }
}
