.popup__input {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
  .popup__input {
    margin: 0 7.80141844% 30px;
    width: 84.3971631%;
  }
}
