.popup__container_form {
  width: 430px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 492px) {
  .popup__container_form {
    max-width: 88.125%;
  }
}

/* стили горизонтальной ориентации */
@media screen and (max-width: 823px) and (max-height: 414px) {
  .popup__container_form {
    max-width: 70vw;
    max-height: 60vw;
  }
}
