.logo {
  padding-bottom: 41px;
  max-width: 142px;
  max-height: 33px;
}

/*3*/
@media screen and (max-width: 888px) {
  .logo {
    padding: 0 0 31.6px 27px;
  }
}

/*4-5*/
@media screen and (max-width: 425px) {
  .logo {
    max-width: 103.74px;
    max-height: 24.4px;
  }
}
