.profile__change-button_animation_hover:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
