.popup__profile-information {
  padding: 0;
  min-width: 0;
  margin-bottom: 48px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 424px) {
  .popup__profile-information {
    margin-bottom: 45px;
  }
}

