.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__avatar:hover {
  background-color: #000;
  opacity: .8;
  cursor: url(../../../images/Avatar-icon.svg),move;
}

@media screen and (max-width: 942px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
