.popup__button-close {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-image: url(../../../images/popup-close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: transparent;
  position: absolute;
  top: -40px;
  left: 100%;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 510px) {
  .popup__button-close {
    width: 26px;
    height: 26px;
    left: calc(100% - 26px);
  }
}
