.element__button-like {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  width: 22px;
  height: 19px;
  display: block;
  outline: none;
  box-sizing: border-box;
  background-image: url(../../../images/vector-like-button.svg);
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.element__button-like:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
