.popup__profile-signing {
  margin: 0 36px 0;
  padding: 0;
  padding-bottom: 13px;
  width: 358px;
  display: block;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__profile-signing:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
